.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  width: fit-content;
}

.canvasColorOut {
  filter: invert(1);
}

.canvasColorOutInverted {
  filter: invert(0);
}

.canvasOut {
  filter: grayscale(1) brightness(10) invert(1);
}
.canvasOutInverted {
  filter: grayscale(1) brightness(10);
}
